.white-text {
	color: white;
}

.uppercase {
	text-transform: uppercase;
}

.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.grey-text {
	color: #bfbfbf;
}

.pink-text {
	color: #ff5050;
}

.orange-text {
	color: #ffbd4a;
}



/**************** NAVIGATION **********************/

.navbar-container {
	display: flex;
	justify-content: space-between;
}

.nav-name {
	margin: 1em 0.5em;
	text-align: center;
}

.navigation {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.navigation li {
	margin: 1em 1em;
}


/**************** MAIN PAGE **********************/

.home-background {
	background: linear-gradient(rgba(255,80,80,.8) 100%, transparent), url("images/palm-trees-black.jpg") no-repeat bottom;
	background-size: cover, cover;
	height: 100vh;
	/*#ff5050*/
}

.home-title {
	position: relative;
	text-align: center;
	top: 30%;
}

h1 {
	font-size: 5em;
	text-shadow: 2px 2px #ff0000;
	margin-bottom: 40px;
}

h2 {
	font-size: 2.5em;
}

/**************** ABOUT **********************/

.about {
	width: 75%;
	margin: 0 auto;
	padding: 1em;
}

.section-title {
	text-align: center;
	font-size: 5em;
}

.about-info {
	text-align: center;
}

.about-image {
	height: 45vh;
	border-radius: 50%;
	border: 5px solid #ff5050;
	margin: 2em 0.2em;
}

.about-text {
	margin: 1.5em 0.2em 5em 0.2em;
}

h4 {
	text-align: center;
	font-size: 3em;
	margin-bottom: 1em;
}

.language-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #ffbd4a;
	font-size: 5em;
	width: 80%;
    margin: 0 auto;
}

.icon {
	padding: 10px;
}

/**************** WORK **********************/

.work {
	margin-top: 4em;
	height: 100vh;
}

.work-text {
	margin: 2em 0.2em;
	text-align: center;
}

.pink {
	height: 100px;
	background-color: pink;
}

.blue {
	height: 100px;
	background-color: blue;
}

.yellow {
	height: 100px;
	background-color: yellow;
}

/****************CONTACT **********************/
.contact {
	height: 100vh;
	padding: 1em;
	background: #ffbd4a; 
}

.white-title {
	text-shadow: 2px 2px #da910a;

}

.contact-form {
	width: 75%;
    margin: 0 auto;
}

.contact-text {
	margin: 3em auto;
    text-align: center;
    width: 75%;
    font-size: 1.2em;
}

.form-input {
	display: block;
	width: 90%;
	margin: 10px auto;
	padding: 15px 5px;
	font-size: 1.2em;
	color: #bfbfbf;
}

.form-title {
	text-align: center;
    font-size: 1.4em;
    padding-top: 1em;
}

.form-button {

}

.social-icons {
	display: flex;
	justify-content: center;
	margin: 1em auto 1em auto;
	font-size: 2em;
	color: white;
}

.social-icons a {
	padding: 0 0.5em;
}




/****************FOOTER **********************/
footer {
	background: #ffbd4a;
}

.footer-text {
	text-align: center;
}

a {
	color: white;
}

a:visted {
	color: white
}

/****************MEDIA QUERIES**********************/

/***************** TABLET************************/

@media (min-width: 600px) {









}

/***************** DESKTOP ************************/

@media (min-width: 1050px) {

	.about-info {
		display: flex;
		justify-content: space-around;
	}

	.about-text {
		width: 45%;
		margin-top: 5em;
	}














}