.white-text {
	color: white;
}

.uppercase {
	text-transform: uppercase;
}

.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.grey-text {
	color: #bfbfbf;
}

.pink-text {
	color: #ff5050;
}

.orange-text {
	color: #DAA520;
}



/**************** NAVIGATION **********************/

.navbar-container {
	display: flex;
	justify-content: space-between;
}

.nav-name {
	margin: 1em 0.5em;
	text-align: center;
}

.navigation {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.navigation li {
	margin: 1em 1em;
}


/**************** MAIN PAGE **********************/

.home-background {
	background: linear-gradient(rgba(255,80,80,.8) 100%, transparent), url("images/palm-trees-black.jpg") no-repeat bottom;
	background-size: cover, cover;
	height: 100vh;
	/*#ff5050*/
}

.home-title {
	position: relative;
	text-align: center;
	top: 30%;
}

h1 {
	font-size: 5em;
	text-shadow: 2px 2px #ff0000;
	margin-bottom: 40px;
}

h2 {
	font-size: 2.5em;
}

/**************** ABOUT **********************/

.about {
	/*height: 100vh;*/
	padding: 1em;
}

.section-title {
	text-align: center;
	font-size: 5em;
}

.about-info {
	text-align: center;
}

.about-image {
	height: 45vh;
	border-radius: 50%;
	border: 5px solid #ff5050;
	margin: 2em 0.2em;
}

.about-text {
	margin: 1.5em 0.2em 5em 0.2em;
}

h4 {
	text-align: center;
	font-size: 3em;
	margin-bottom: 1em;
}

.language-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: #DAA520;
	font-size: 5em;
}

.icon {
	padding: 10px;
}

/**************** WORK **********************/

.work {
	margin-top: 4em;
	height: 100vh;
}

.work-text {
	margin: 2em 0.2em;
	text-align: center;
}

/****************CONTACT **********************/
.contact {
	height: 100vh;
	background: #DAA520; 
}













