.white-text {
	color: white;
}

.uppercase {
	text-transform: uppercase;
}

.font-poppins {
	font-family: 'Poppins', sans-serif;
}


/**************** NAVIGATION **********************/

.navbar-container {
	display: flex;
	justify-content: space-between;
}

.nav-name {
	margin: 1em 0.5em;
	text-align: center;
}

.navigation {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.navigation li {
	margin: 1em 1em;
}


/**************** MAIN PAGE **********************/

.home-background {
	background: linear-gradient(rgba(255,80,80,.8) 100%, transparent), url("images/palm-trees-black.jpg") no-repeat bottom;
	background-size: cover, cover;
	height: 100vh;
	/*#ff5050*/
}

.home-title {
	position: relative;
	text-align: center;
	top: 30%;
}

h1 {
	font-size: 5em;
	text-shadow: 2px 2px #ff0000;
	margin-bottom: 40px;
}

h2 {
	font-size: 2.5em;
}

/**************** ABOUT **********************/

.about {
	height: 100vh;
}










